[submodule "MSS54-XDFs"]
	path = MSS54-XDFs
	url = https://github.com/saildot4k/MSS54-XDFs.git
[submodule "agatha"]
	path = MEVD172 - N55/agatha
	url = https://github.com/dbkaplun/agatha.git
[submodule "bmw-coding"]
	path = bmw-coding
	url = https://github.com/gigijoe/bmw-coding.git
